################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/BlazorCrud/obj/Debug/net7.0/BlazorCrud.AssemblyInfo.cs
/BlazorCrud/obj/Debug/net7.0/BlazorCrud.AssemblyInfoInputs.cache
/BlazorCrud/obj/Debug/net7.0/BlazorCrud.GeneratedMSBuildEditorConfig.editorconfig
