@page "/"

<PageTitle>Blazor CRUD</PageTitle>

<h1>CRUD con Blazor Server y MSSQL Local DB!</h1>

<h2>Ejercicio con Blazor Server App en .Net 7.</h2>
<p>
App Extremadamente simple. Estamos haciendo pininos! :D
</p>
<SurveyPrompt Title="How is Blazor working for you?" />
